* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body,
html {
    overflow: hidden;
}

.carousel-track {
    display: flex;
    width: 100vw;
    height: 100vh;
    transition: transform 0.01s ease-in-out;
}

.carousel-item {
    flex: 0 0 100%;
    color: white;
}

/* background image */
.carousel-item img {
    object-fit: cover;
    width: 100vw;
    height: 100vh;
}

.carousel-item iframe {
    object-fit: cover;
    width: 100vw;
    height: 100vh;
}

/* header */
.carousel-item-heading {
    font-family: 'AdobeCleanExtraBold';
    font-size: 4rem;
    margin-top: 5vh;
    text-align: right;
    color: white;
    z-index: 10;
    position: relative;
    padding-right: 5vw;
}

/* inner container area */
.carousel-item-inner-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 85vh;
    padding: 10vh 5vw;
    gap: 2rem;
}

/* right side container */
.carousel-item-inner-container .right-div {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
    flex: 0 0 50%;
}

.carousel-item-inner-container .right-div .carousel-item-description {
    padding-top: 10rem;
}

.carousel-item-inner-container.more-than-three-images {
    flex-wrap: nowrap;
    align-items: flex-start;
}

/* left side - images container */
.carousel-item-images {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto auto;
    gap: 1rem;
    flex: 0 0 50%;
    justify-content: center;
    align-items: flex-start;
    justify-items: center;
    max-height: 50vh;
    overflow: hidden;
    margin-top: -5vh;
}

/* Move images to top when more than 3 images */
.carousel-item-inner-container.more-than-three-images .carousel-item-images {
    margin-top: 0;
    max-height: 70vh;
}

/* 1 image: center in first row */
.carousel-item-images.one-image {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    margin-top: -20vh;
}

/* 2 images: center in first row */
.carousel-item-images.two-images {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    margin-top: -10vh;
}

/* 3 images: all in first row */
.carousel-item-images.three-images {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    margin-top: -10vh;
}

/* 4 images: 2x2 grid */
.carousel-item-images.four-images {
    margin-top: 0;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    max-height: 75vh;
}

/* 4 images: position text at bottom */
.carousel-item-images.four-images + .carousel-item-description {
    margin-top: 20vh;
    justify-content: flex-end;
}

/* 5 images: 3 in first row, 2 centered in second row */
.carousel-item-images.five-images {
    margin-top: 0;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}

.carousel-item-images.five-images .carousel-item-figure:nth-child(4),
.carousel-item-images.five-images .carousel-item-figure:nth-child(5) {
    grid-row: 2;
}

.carousel-item-images.five-images .carousel-item-figure:nth-child(4) {
    grid-column: 1;
}

.carousel-item-images.five-images .carousel-item-figure:nth-child(5) {
    grid-column: 3;
}

/* 5 images: position text at bottom */
.carousel-item-images.five-images + .carousel-item-description {
    margin-top: 20vh;
    justify-content: flex-end;
}

.carousel-item-figure {
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.carousel-item-figure picture {
    z-index: 100;
    display: block;
    position: relative;
}

.carousel-item-figure img{
    object-fit: contain;
    background-color: white;
    border-radius: 50%;
    width: 11.8vw !important;
    height: 11.8vw !important;
}

/* Responsive sizing based on number of images using IMAGE_SIZES array */
.carousel-item-images.one-image .carousel-item-figure img {
    width: 20.6vw !important;
    height: 20.6vw !important;
}

.carousel-item-images.two-images .carousel-item-figure img {
    width: 16.9vw !important;
    height: 16.9vw !important;
}

.carousel-item-images.three-images .carousel-item-figure img {
    width: 14vw !important;
    height: 14vw !important;
}

.carousel-item-images.four-images .carousel-item-figure img {
    width: 13.2vw !important;
    height: 13.2vw !important;
}

.carousel-item-images.five-images .carousel-item-figure img {
    width: 11.8vw !important;
    height: 11.8vw !important;
}

.carousel-item-figure .carousel-item-figure-caption {
    text-align: center;
    font-family: 'AdobeCleanBold';
    text-transform: uppercase;
    font-size: 2.5rem;
    background: white;
    color: black;
    padding: 0.3rem 0.8rem;
    border: 2px solid black;
    border-radius: 4px;
    margin-top: 0.5rem;
    display: inline-block;
}

/* right side - description container */
.carousel-item-description {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    flex: 0 0 50%;
    justify-content: center;
    padding-left: 2rem;
    max-height: 70vh;
    overflow-y: auto;
    margin-top: 8vh;
}

/* Adjust text position when more than 3 images */
.carousel-item-inner-container.more-than-three-images .carousel-item-description {
    margin-top: 10vh;
    max-height: 40vh;
    justify-content: flex-end;
}

.more-than-three-images .carousel-item-description{
    flex-direction: column;
    align-items: flex-start;
    max-width: unset;
}

.carousel-item-description .title {
    font-family: 'AdobeCleanExtraBold';
    font-size: 2.5rem;
    padding-left: 21px;
    color: black;
    display: none;
}

.more-than-three-images .carousel-item-description .title {
    min-width: max-content;
}

.carousel-item-description .description-text {
    font-family: 'AdobeClean';
    font-size: 2.25rem;
    line-height: 3rem;
    font-style: italic;
    padding-left: 0;
    color: black;
    /* text-align: justify; */
}