body,
html {
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.carousel-track {
    display: flex;
    width: 100vw;
    height: 100vh;
    transition: transform 0.01s ease-in-out;
}

.carousel-item {
    flex: 0 0 100%;
    display: grid;
    grid-template-columns: 1fr 3fr 3fr 1fr;
    grid-template-areas:
        "...... header header ......"
        "...... figure  description   ......"
        "...... figure  description   ......"
        "...... figure  description  ......"
        "...... figure  description ......"
        "...... ...... ......  ......";
    align-items: center;
    color: white;
}

/* background image */
.carousel-item img {
    object-fit: cover;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

/* header */
.carousel-item-heading {
    grid-area: header;
    justify-self: center;
    font-family: 'AdobeCleanExtraBold';
    font-size: var(--heading-font-size-xxl);
}

/* figure */
.carousel-item-figure {
    grid-area: figure;
    justify-self: center;
    background-color: #fff;
    width: 50%;
    height: 50%;
    border-radius: 0% 50% 50% 0%;
    position: relative;
}

.carousel-item-figure img{
    object-fit: cover;
    width: 15vw;
    height: 15vw;
    margin: 0 auto;
    border-radius: 50%;
    border: red solid 1px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* description */
.carousel-item-description {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    max-width: 60vw;
    grid-area: description;
    justify-self: center;
    justify-items: center;
    font-family: 'AdobeClean';
}
.carousel-item-description .name {
    color: #fff;
    font-size: var(--heading-font-size-l);
    font-family: 'AdobeCleanBold';
}
.line {
    border-bottom: 1px solid #ffffff;
    width: 40%;
}